/* clean css rules */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Use your own CSS styles if you want */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html {
    background-color: #303036;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{
    font-family: 'Exo', sans-serif;
}

h1 {
    color: #fffaff;
    font-weight: bold;
    font-size: 4em;
}

.response {
    color: #efa434;
    font-size: 1.5em;
    padding: 1em;
    margin: 1.5em;
}

.message {
    color: #30fca7;
    font-size: 1.1em;
}

.btn {
    padding: 1em;
    margin: 1.5em;
    border-radius: 10px;
    color: #ffffff;
    background-color: #4e54c8;
    font-size: 1.1em;
}

